* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f5f8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: none;
  background-color: #617d98;
  color: white;
  padding: 0.15rem 0.4rem;
  border-radius: 2.5px;
  font-size: 14px;
  cursor: pointer;
  transition: all 500ms;
  z-index: 500;
  font-weight: 600;
}

button:hover {
  background-color: #ba5d2c;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4.5rem 0;
}

#slider {
  align-items: center;
  overflow-x: hidden;
  width: 80vw;
  height: 500px;
  display: flex;
  max-width: 760px;
}

h1 {
  color: #324d67;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 2rem;
}

span {
  margin-right: 5px;
}

.pic {
  object-fit: cover;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  border: 3px solid #bcccdc;
}

.info-ctn {
  text-align: center;
}

.info-ctn h5 {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ba5d2c;
}

.info-ctn h6 {
  text-transform: capitalize;
  font-size: 12px;
  color: #32507f;
  font-weight: 400;
  font-size: 14px;
}

#slide {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  height: 70%;
}

#slide p {
  line-height: 1.8rem;
  text-align: center;
  color: #617d98;
  font-size: 14px;
}

.animation {
  animation-duration: 500ms;
  animation-iteration-count: 1;
}

.show-from-left {
  animation-name: show-from-left;
}

.show-from-right {
  animation-name: show-from-right;
}

.move-to-left {
  animation-name: move-to-left;
}

.move-to-right {
  animation-name: move-to-right;
}

@keyframes show-from-left {
  from {
    transform: translateX(-70vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes show-from-right {
  from {
    transform: translateX(70vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes move-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-70vw);
  }
}

@keyframes move-to-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(70vw);
  }
}

@media screen and (min-width: 950px) {
  #slide p,
  button,
  .info-ctn h5 {
    font-size: 18px;
  }

  .info-ctn h6 {
    font-size: 16px;
  }
}
